
@model AddInventoryViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Envanter Ekle</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

</head>
<body>
    <h3 class="text-bg-primary">Envanter Ekle</h3>
    <div class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <form asp-controller="Inventory" class="form-group" asp-action="AddInventory" method="post">
                                <div class="form-group">
                                    <select asp-for="ınventory.WarehouseId">
                                        @foreach (var item in Model.wareHouse)
                                        {
                                            <option value="@item.Id">@item.wareHouseName</option>

                                        }
                                    </select>


                                </div>
                                <div class="form-group">
                                    <label for="inventoryName">Envanter Adı</label>
                                    <input asp-for="@Model.InventoryName" type="text" name="InventoryName" required placeholder="Envanter Adı" id="InventoryName" class="form-control" />
                                </div>
                                <div class="form-group text-right mb-0">
                                    <button class="btn btn-primary " type="submit">
                                        Yeni Envanter Ekle
                                    </button>

                                </div>

                            </form>
                            <a asp-controller="WareHouse" asp-action="Index" class="btn btn-primary"><b class="text-bg-warning"> Envanter Listesine Geri Dön</b></a>
                        </div>



                    </div>



                </div>
            </div>
        </div>
    </div>


</body>
</html>
